* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #10141e;
  color: white;
  font-family: outfit;
  margin-left: 20px;
  margin-top: 20px;
}

main {
  margin-left: 132px;
}

h3 {
  padding: 32px 0;
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

img{
    cursor: pointer;
}

.play,
form,
nav,
nav div,
.trending-list,
.item,
.video-info,
.recommended-list {
  display: flex;
}

.trending-list {
  overflow-x: auto;
  gap: 40px;
}

.trending-list::-webkit-scrollbar {
  display: none;
}

.trending-list .item {
  height: 230px;
  width: 470px;
}

.trending-list .video-details h4 {
  margin-top: 5px;
  font-size: 24px;
}

.recommended-list {
  flex-wrap: wrap;
  gap: 40px;
}

.recommended-list h4 {
  font-weight: 500;
}

.recommended-list .item {
  max-width: 280px;
  height: 174px;
  padding: 16px;
  padding-left: 0;
  margin-bottom: 44px;
}

.recommended-list .video-details {
  margin-bottom: -70px;
}

.recommended-list .Bookmark {
  margin-left: 232px;
}

.recommended-list .video-details h4 {
  margin-top: 5px;
  font-size: 18px;
}

@media screen and (max-width: 800px){
    main{
        margin-left: 5px;
    }
    .recommended-list{
        gap: 25px;
    }
    .recommended-list .item{
        width: 220px;
        height: 140px;
    }
    .recommended-list .Bookmark{
        margin-left: 172px;
    }
}

@media screen and (max-width: 600px){
    .trending-list .video-details h4 {
        font-size: 15px;
      }
    h3{
        font-size: 20px;
    }
    .trending, .recommended h3{
        margin-left: 20px;
    }
    .trending-list .item{
        width: 240px;
        height: 140px;
        padding: 16px;
    }
    .trending-list .Bookmark{
        margin-left: 175px;
    }
    .recommended-list{
        margin-right: 10px;
        justify-content: space-evenly;
    }
    .recommended-list .item{
        max-width: 164px;
        height: 110px;
    }
    .recommended-list .Bookmark{
        margin-left: 125px;
    }
}
