* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #10141e;
  color: white;
  font-family: outfit;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

main {
  margin-left: 132px;
}

h3 {
  padding: 32px 0;
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

img {
  cursor: pointer;
}

.play,
form,
nav,
nav div,
.trending-list,
.item,
.video-info {
  display: flex;
}

.trending-list {
  overflow-x: auto;
  gap: 40px;
}

.trending-list::-webkit-scrollbar {
  display: none;
}

.trending-list .item {
  height: 230px;
  width: 470px;
}

.trending-list .video-details h4 {
  margin-top: 5px;
  font-size: 24px;
}

.recommended-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  padding-right: 40px;
}

.recommended-list h4 {
  font-weight: 500;
}

.recommended-list .item {
  position: relative;
  width: 100%;
  /* max-width: 280px; */
  height: 200px;
  padding: 16px;
  padding-left: 0;
  margin-bottom: 44px;
}

.recommended-list .video-details {
  position: absolute;
  bottom: -60px;
}

.recommended-list .Bookmark {
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 20;
  z-index: 100;
}

.recommended-list .video-details h4 {
  margin-top: 5px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  main {
    margin-left: 5px;
  }
  .recommended-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 20px;
    gap: 25px;
  }
  .recommended-list .item{
    height: 175px;
  }
}

@media screen and (max-width: 600px) {
  .trending-list .video-details h4 {
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
  }
  .trending,
  .recommended h3 {
    margin-left: 20px;
  }
  .trending-list .item {
    width: 240px;
    height: 140px;
    padding: 16px;
  }
  .trending-list .Bookmark {
    margin-left: 175px;
  }
  .recommended-list {
    padding-left: 20px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .recommended .item{
    height: 50vw;
  }
}
